@charset "utf-8";
/* CSS Document */

/*
 * 2018-07-04
 *	- Modified restaurant image list so that images would maintain
 *		aspect ratio
 *
 * 2018-06-14:
 *	- change font sizes to use 'em' units
 *	- adjust colors to meet accessibility contrast requirements
 *	- adjust height of filter bar to enclose Filter output heading and controls.
 *	- replace some id specifications with element name specifications, but
 *		left id specifications in cases where the id is used in script.
 */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: underline;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

main {
/*  background-color: #f3f3f3; */
  display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	background-color: #333;
  min-height: 100%;
}

section {
	width: 100%;
}

footer {
	width: 100%;
  background-color: #333;
  color: #ddd;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  height: 60px;
	text-align: center;
	padding: 15px 0 0 0;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 1.1em;
  font-weight: 200;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 24px 10px;
    list-style: none;
    background-color: #eee;
    font-size: 1em;
    margin: 0;
    width: calc(50% - 48px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}
/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: blue;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #f3f3f3;
}

/* make some space on the sides to allow srolling the page
   without scrolling the map on touch screens,. */
.map-container {
	width: calc(100% - 48px);
}

#map-label {
	position: absolute;
	left: -9999px;
}

/* adjust height and set a margin around the map to simplify scrolling on small screens */
@media screen and (max-height: 400px) {
	#map {
		height: 100vh;
	}
}
/* ====================== Restaurant Filtering ====================== */

.list-results {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filter-options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  width: calc(100% - 48px);
  background-color: #333;
  align-items: center;
	margin: 20px 0 0;
}

.filter-options h2 {
  color: #eee;
  font-size: 1.3em;
  font-weight: normal;
  line-height: 1;
	display: block;
	width: 100%;
}

/* put the labels offscreen, but visible to screen readers */
.filter-options label {
	position: absolute;
	left: -9999px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 35px;
  letter-spacing: 0;
  width: 200px;
	margin-bottom: 20px;
}

.filter-options select:first-of-type {
	margin-right: 36px;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	display: flex;
	flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
	width: 100%;
  padding: 30px 15px 30px;
  align-items: stretch;
	justify-content: space-evenly;
}

#restaurants-list li {
  background-color: #333;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
	max-width: 350px;
	padding: 15px 0;
  text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 320px;
  max-height: 240px;
	width: auto;
	height: auto;
}

#restaurants-list li h1 {
  color: orange;
  font-family: Arial,sans-serif;
  font-size: 1.3em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
	color: white;
  margin: 0;
  font-size: 1em;
}

/*#restaurants-list li a {
  background-color: orange;
	border-top: none;
  border-bottom: 3px solid black;
  color: #222;
	width: 320px;
  display: inline-block;
  font-size: 1em;
  padding: 8px 0 8px;
	height: 3em;
  text-align: center;
	margin: auto 0;
  text-decoration: none;
  text-transform: uppercase;
}*/
#restaurants-list li a {
  background-color: orange;
	border-top: none;
  border-bottom: 3px solid black;
  color: #222;
	width: 160px;
  display: flex;
  flex-direction: column;
	justify-content: center;
	align-items: center;
  font-size: 1em;
  padding: 8px 0;
	height: 2.5Sem;
  text-align: center;
	margin: 8px 0 0 0;
  text-decoration: none;
  text-transform: uppercase;
}

#restaurants-list li a p {
	color: #222;
}

#restaurants-list li a:hover {
	border-bottom: none;
	border-top: 3px solid black;
  text-decoration: underline;
}

/* ====================== Restaurant Details ====================== */

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.inside main {
	flex-direction: column;
	justify-content: center;
	width: 50%;
}

.inside .map-container {
/*  background: blue none repeat scroll 0 0;
*/
  background-color: #333;
  height: calc(100vh - 80px);
  position: fixed;
	margin: 0;
	padding: 0 24px 0 0;
  right: 0;
  top: 80px;
  width: calc(50% - 24px);
	display: flex;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
	display: inline-block;
}

.inside footer {
  bottom: 0;
/*  position: absolute;
*/
  width: 50%;
}

#restaurant-name {
  color: orange;
  font-family: Arial,sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

.inside #restaurant-img {
	max-width: 100%;
	width: auto;
	height: auto;
}

figcaption {
	font-style: italic;
	font-size: 1em;
	font-weight: normal;
	text-align: center;
	color: #ddd;
}

#restaurant-address {
	color: #ddd;
  font-size: 1em;
  margin: 20px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 20px 0 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

.restaurant-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 0 30px;
  width: calc(100% - 48px);
}
#reviews-container {
  padding: 30px 0 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: flex;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
/*  padding: 0 0 20px; */
  position: relative;
	padding: 10px;
  width: calc(100% - 20px);
	justify-content: space-between;
	flex-wrap: wrap;
}

#reviews-list p {
	margin: 0;
/*  margin: 0 0 10px; */
}

.reviewer {
	font-weight: bold;
}

.rating-offscreen {
	position: fixed;
	left: -9999px;
}

p[rating],
.review-text {
	font-style: italic;
	width: 100%;
}

p[rating]:after {
	color: gold;
	font-weight: bold;
}

p[rating="5"]:after {
  content: "★★★★★";
}
p[rating="4"]:after {
  content: "★★★★";
}
p[rating="3"]:after {
  content: "★★★";
}
p[rating="2"]:after {
  content: "★★";
}
p[rating="1"]:after {
	content: "★";
}

.review-text {
	padding: 10px 0 0 0;
}

#restaurant-hours td {
  color: #ddd;
}
#restaurant-hours td:first-child {
	padding: 0 25px 0 0;
}

@media screen and (max-width: 750px) {
	#breadcrumb {
		width: calc(100% - 48px);
		padding: 10px 24px;
		height: 30px;
	}

  .inside main {
		padding: 130px 24px 0 24px;
		width: calc(100% - 48px);
	}

	.inside .map-container {
		width: 100%;
		position: initial;
		padding: 0;
		height: calc(100vh - 130px);
	}

	.inside footer {
		width: 100%;
	}

	.restaurant-container, #reviews-container {
		width: 100%;
		padding: 30px 0;
	}
}
