

// Set colors
$primary-color:   orange;
$accent-color-1:  #80d;
$accent-color-2:  #6900aa;

$favorite-color: red;
$inactive-color: #999;

$bg-color-1:      #111;
$bg-color-2:      #ddd;

$fg-color-1:      #ddd;
$fg-color-2:      #111;

$info-color:      #fcfcfc;
$info-bg-color:   #152bed;
$warn-color:      #fcfcfc;
$warn-bg-color:   #fffc01;
$error-color:     #fcfcfc;
$error-bg-color:  #d90c0c;

$default-font:    1em/1.5 Arial, Helvetica, sans-serif;

$default-border-radius: 8px;
